# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PeepoRot Chatbot.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Repositories\PeepoRot Chatbot\.idea\.idea.PeepoRot Chatbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
